docker/node-red/src/flows.json
[
    {
        "id": "df94bd946997adf7",
        "type": "tab",
        "label": "Global",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b31f175e8f2bfb7",
        "type": "tab",
        "label": "Contrôles-solo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93b07b015d78d2f3",
        "type": "tab",
        "label": "Display-solo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc2e41e0eed1ac85",
        "type": "tab",
        "label": "Display Power/Energy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fedabdae39268dc7",
        "type": "tab",
        "label": "Raspberry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58d375fa1a53f3dd",
        "type": "tab",
        "label": "Pompes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e46298c3f3407f28",
        "type": "tab",
        "label": "Maintenance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f44ba1f0284b69d",
        "type": "tab",
        "label": "Simulation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5870d068b3b3fbc8",
        "type": "group",
        "z": "e46298c3f3407f28",
        "name": "Balance",
        "style": {
            "label": true
        },
        "nodes": [
            "8704babc913d72ac",
            "b24824c4b4741da8",
            "ff89957815c16e58",
            "24f2dc14ba30fd09",
            "5a07aebe1f1450f3",
            "f0938b12cec79fa1",
            "6f463dd271e2cf8d",
            "8a12cea1166683f2"
        ],
        "x": 134,
        "y": 119,
        "w": 652,
        "h": 202
    },
    {
        "id": "75cd4b84d3a4cbeb",
        "type": "group",
        "z": "e46298c3f3407f28",
        "name": "Bike1",
        "style": {
            "label": true
        },
        "nodes": [
            "982fa4fcd2b64ef4",
            "075d977633731fdd",
            "9452d793e01f04f7",
            "98ef3335e518655e",
            "77858965987bc67f",
            "ee351746341cf8f1",
            "cb3fe40f4416ac69",
            "b9ce68ebdd3143d4"
        ],
        "x": 134,
        "y": 359,
        "w": 652,
        "h": 202
    },
    {
        "id": "704b9f4aabfab6a5",
        "type": "group",
        "z": "e46298c3f3407f28",
        "name": "Bike2",
        "style": {
            "label": true
        },
        "nodes": [
            "9325f4b71271bc7e",
            "d54d38e54482e819",
            "abc9827b297bbd5e",
            "0daa64f04b2aad4d",
            "846a3a6bec36d004",
            "46cce37d3d74ba6c",
            "ec2568664d138cfc",
            "52e5a736bc257fb5"
        ],
        "x": 134,
        "y": 599,
        "w": 652,
        "h": 202
    },
    {
        "id": "9c9a26b23301d87a",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "17420155d1619ebb",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "6b05643b6577df6f",
        "type": "ui-page",
        "name": "Machine à Sirops - HEIA-FR",
        "ui": "9c9a26b23301d87a",
        "path": "/main",
        "icon": "home",
        "layout": "grid",
        "theme": "17420155d1619ebb",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "cd297db1aa9255a7",
        "type": "ui-group",
        "name": "Capteurs",
        "page": "6b05643b6577df6f",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "681dc25e6534cff6",
        "type": "mqtt-broker",
        "name": "Default",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ad66754c75a467f",
        "type": "ui-group",
        "name": "Contrôle",
        "page": "6b05643b6577df6f",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0ce34f26401423f7",
        "type": "ui-group",
        "name": "Raspberry Pi (Serveurs)",
        "page": "6b05643b6577df6f",
        "width": "12",
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c8e232a0ca6698b9",
        "type": "ui-group",
        "name": "Pompes",
        "page": "6b05643b6577df6f",
        "width": "12",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e6f56f53c939edb6",
        "type": "ui-page",
        "name": "Maintenance",
        "ui": "9c9a26b23301d87a",
        "path": "/maintenance",
        "icon": "home",
        "layout": "grid",
        "theme": "17420155d1619ebb",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "740e7599ee150aad",
        "type": "ui-group",
        "name": "Balance (eau)",
        "page": "e6f56f53c939edb6",
        "width": "12",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "639072400a26d618",
        "type": "ui-group",
        "name": "Vélo 1 (Rouge)",
        "page": "e6f56f53c939edb6",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "869143ee49ab3915",
        "type": "ui-group",
        "name": "Vélo 2 (Bleu)",
        "page": "e6f56f53c939edb6",
        "width": "12",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dfbf737e1badbf3b",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.20.1"
        }
    },
    {
        "id": "be3001cd3246764c",
        "type": "ui-group",
        "name": "Simulation",
        "page": "6b05643b6577df6f",
        "width": "12",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "561fc2b10511c3e2",
        "type": "ui-page",
        "name": "Power/Energy",
        "ui": "9c9a26b23301d87a",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "17420155d1619ebb",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "6"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "6"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "6"
            }
        ],
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8042fa2145592bab",
        "type": "ui-group",
        "name": "Valeurs en temps réel",
        "page": "561fc2b10511c3e2",
        "width": "15",
        "height": "6",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6d9c84a7346536ad",
        "type": "ui-template",
        "z": "df94bd946997adf7",
        "group": "",
        "page": "",
        "ui": "9c9a26b23301d87a",
        "name": "Styles",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".bigfont button {\n    font-size: xx-large;\n    font-weight: bold;\n}\n\n.stdout {\n    padding: 1em;\n    border-style: dotted;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 210,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "247b2d9061a865a6",
        "type": "ui-button",
        "z": "1b31f175e8f2bfb7",
        "group": "8ad66754c75a467f",
        "name": "",
        "label": "Démarrer",
        "order": 1,
        "width": "12",
        "height": "2",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "bigfont",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "1852940ce5304bef",
                "335fb19a0773bf0a",
                "fcb1909503b0d17a",
                "b86941baeed0b2b0",
                "b1458cf22522aa0b",
                "bb66bd4c98114e3b",
                "1322fb2fca9f603d",
                "bd17ad14a01b2bad",
                "9a441aef55024b5c",
                "a1225ab53c590332",
                "0cb6429d3e9a89d3",
                "d3cde4e8bc7878f9",
                "4f7e53f4ed4bb1a5",
                "b6fe2ad0405fef4f",
                "508815e579c49bf0",
                "71dc21dd51b38a6c"
            ]
        ]
    },
    {
        "id": "df8a527c4243b8f9",
        "type": "mqtt out",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "681dc25e6534cff6",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "1852940ce5304bef",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Stop bike 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/bike/1/stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "335fb19a0773bf0a",
        "type": "delay",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 820,
        "wires": [
            [
                "32927b15a7c7316f",
                "ee5913f4d1abc08b",
                "c9ad76591a970f7a",
                "90b9f7dc1b32857f",
                "15550784c6cf5d20",
                "1f8c1bbbf0c65fc0",
                "0b2251944a2d4aa7"
            ]
        ]
    },
    {
        "id": "32927b15a7c7316f",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Start bike 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/bike/1/start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 760,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "fcb1909503b0d17a",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Stop chrono",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/chrono/stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "b86941baeed0b2b0",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Hide Score",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/score/hide",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "b1458cf22522aa0b",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Start animation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/video/play",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"animation\",\"src\":\"movie/Panel-256x384-COMPTEUR-START.mp4\",\"duration\":6,\"fade-out\":1,\"fade-in\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "ee5913f4d1abc08b",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Start chrono",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/chrono/start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 840,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "32cf3652b6a7bc17",
        "type": "ui-button",
        "z": "1b31f175e8f2bfb7",
        "group": "8ad66754c75a467f",
        "name": "",
        "label": "Reset",
        "order": 2,
        "width": "0",
        "height": "0",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 310,
        "y": 1520,
        "wires": [
            [
                "82146e92b29b59d0",
                "f440965eca287080",
                "de6aea58040d8a2b",
                "4cdb38037a2bcd82",
                "ecc2bfcc9d095bde",
                "485a7208dd4c657f",
                "21ae2be9fb7270f6",
                "59fa16704d2b6663",
                "ca716d66f0b472b9",
                "8b63082f8995c946",
                "f56fc175447ec6d3",
                "97a625944e895448",
                "98d3f84e423157d7",
                "75e6c0d512140f11",
                "3bdf92313ac42f6d",
                "b07711d543116dc1",
                "93a12bedba0f37d5"
            ]
        ]
    },
    {
        "id": "264d8d59c65e843a",
        "type": "mqtt out",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "681dc25e6534cff6",
        "x": 1070,
        "y": 1380,
        "wires": []
    },
    {
        "id": "82146e92b29b59d0",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Stop bike 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/bike/1/stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1380,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "f440965eca287080",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset chrono",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/chrono/reset",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1340,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "de6aea58040d8a2b",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Hide Score",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/score/hide",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1480,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "91226a2392b01a7b",
        "type": "inject",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 330,
        "y": 1320,
        "wires": [
            [
                "32cf3652b6a7bc17"
            ]
        ]
    },
    {
        "id": "9bc75109b8c13a7e",
        "type": "inject",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "247b2d9061a865a6"
            ]
        ]
    },
    {
        "id": "7bcb5300e4a3e1a6",
        "type": "mqtt in",
        "z": "1b31f175e8f2bfb7",
        "name": "Bike rotation",
        "topic": "heiafr/ms/bike/+/rotations",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "681dc25e6534cff6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 2200,
        "wires": [
            [
                "6d3a224af1693745",
                "be2561342fa98486"
            ]
        ]
    },
    {
        "id": "6d3a224af1693745",
        "type": "function",
        "z": "1b31f175e8f2bfb7",
        "name": "function 5",
        "func": "var distance = Number(msg.payload) * 0.7 * Math.PI\nvar percent = Math.round(distance * 100 / flow.get('distance'))\n\nvar msg2 = null\n\nif (percent >= 100) {\n    percent = 100\n    if (flow.get(\"running\")) {\n        flow.set(\"running\", false)\n        msg2 = {\n            \"winner\": 1\n        }\n    }\n}\n\nvar msg1 = {\n    \"topic\": \"heiafr/ms/top/gauge\",\n    \"payload\": JSON.stringify(\n        {\n            \"value\" : percent\n        }\n    )\n}\n\n\nreturn [msg1, msg2]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2200,
        "wires": [
            [
                "252d787468234489",
                "70162b2e7468411f"
            ],
            [
                "5c1bd8e936886d71",
                "db438a12915533c3",
                "8992fa78dbc841d0",
                "e4f459b887ac8e50"
            ]
        ]
    },
    {
        "id": "252d787468234489",
        "type": "mqtt out",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "681dc25e6534cff6",
        "x": 1310,
        "y": 2180,
        "wires": []
    },
    {
        "id": "70162b2e7468411f",
        "type": "link out",
        "z": "1b31f175e8f2bfb7",
        "name": "Bike Distance",
        "mode": "link",
        "links": [
            "b97a99de0c90024c",
            "e85492afd3b4e89b"
        ],
        "x": 755,
        "y": 2140,
        "wires": []
    },
    {
        "id": "96bfc770016305c0",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Start animation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/video/play",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"animation\",\"src\":\"movie/Panel-256x384-WINNER-SOLO.mp4\",\"fade-in\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "5c1bd8e936886d71",
        "type": "delay",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 2360,
        "wires": [
            [
                "93593d9eb3af6931"
            ]
        ]
    },
    {
        "id": "93593d9eb3af6931",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Show Score",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/score/show",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 2360,
        "wires": [
            [
                "252d787468234489"
            ]
        ]
    },
    {
        "id": "db438a12915533c3",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Stop chrono",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/chrono/stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 2260,
        "wires": [
            [
                "252d787468234489"
            ]
        ]
    },
    {
        "id": "4cdb38037a2bcd82",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset gauge",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/bike/1/rotations",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1300,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "bb66bd4c98114e3b",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset gauge",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/bike/1/rotations",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "1322fb2fca9f603d",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "running",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ecc2bfcc9d095bde",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "running",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "951f6cf73c499ab1",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time2",
                "pt": "flow",
                "to": "object",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 2680,
        "wires": [
            [
                "05e45cade467793c"
            ]
        ]
    },
    {
        "id": "05e45cade467793c",
        "type": "function",
        "z": "1b31f175e8f2bfb7",
        "name": "Time Comp.",
        "func": "flow.set('time_elapsed',flow.get('time2')-flow.get('time1'))\nflow.set('time1',flow.get('time2'))\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 2680,
        "wires": [
            [
                "2efca6f9a730221a"
            ]
        ]
    },
    {
        "id": "2efca6f9a730221a",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "time_elapsed",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 2680,
        "wires": [
            [
                "7386cb995304a190"
            ]
        ]
    },
    {
        "id": "c9ad76591a970f7a",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time1",
                "pt": "flow",
                "to": "object",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "f86c280bf780380c",
        "type": "ui-slider",
        "z": "1b31f175e8f2bfb7",
        "group": "8ad66754c75a467f",
        "name": "",
        "label": "Niv. de Résistance",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": "8",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 590,
        "y": 2900,
        "wires": [
            [
                "4e3d0c51f880c462"
            ]
        ]
    },
    {
        "id": "4e3d0c51f880c462",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "resistance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 2900,
        "wires": [
            [
                "6c416a8734b96050"
            ]
        ]
    },
    {
        "id": "1e09ba3c5f021dd1",
        "type": "ui-slider",
        "z": "1b31f175e8f2bfb7",
        "group": "8ad66754c75a467f",
        "name": "",
        "label": "Distance (m)",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": "100",
        "max": "400",
        "step": "50",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 570,
        "y": 2960,
        "wires": [
            [
                "e5295d7f5271d6fc"
            ]
        ]
    },
    {
        "id": "e5295d7f5271d6fc",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 2960,
        "wires": [
            []
        ]
    },
    {
        "id": "7386cb995304a190",
        "type": "function",
        "z": "1b31f175e8f2bfb7",
        "name": "Power Comp.",
        "func": " // time in miliseconds since last turn, valid for a 27 inches wheel\nvar time=Number(msg.payload)\nvar speed = 7756 / time\nvar power = 0\nvar coeff=flow.get('coeffs')\nfor (var i = 1; i < 4; i++) {\n    power += coeff[i - 1] * speed ** i\n}\nvar energy = power * time / 1000.\n\nif (energy<0) {\n    energy=0;\n}\nif (power<0) {\n    power=0;\n}\n// speed in km/h, power in Watts, energy in Joules\nmsg.payload=[energy,speed,power]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 2680,
        "wires": [
            [
                "650686bb63814a15",
                "24443646416fcb5b",
                "108491c632ac8a1d"
            ]
        ]
    },
    {
        "id": "6c416a8734b96050",
        "type": "function",
        "z": "1b31f175e8f2bfb7",
        "name": "function 1",
        "func": "var resistance=flow.get('resistance')\nvar coeff=[0.e0,0.e0,0.e0]\nswitch(resistance){\n    case 1: \n        coeff=[1.20349905e+00 , 8.72304167e-02 , -4.46806476e-04] ; break;\n    case 2: \n        coeff=[2.79474586e+00 , 7.37072647e-02 , -3.17372618e-04] ; break;\n    case 3: \n        coeff=[2.53672637e+00 , 1.43674111e-01 , -1.11973465e-03] ; break;\n    case 4: \n        coeff=[4.30909715e+00 , 1.59127553e-01 , -1.35327319e-03] ; break;\n    case 5: \n        coeff=[5.02790546e+00 , 2.04860351e-01 , -1.80960319e-03] ; break;\n    case 6: \n        coeff=[6.01226278e+00 , 2.48213368e-01 , -2.17856458e-03] ; break;\t     \n    case 7: \n        coeff=[6.98194814e+00 , 3.04389178e-01 , -2.68943381e-03] ; break;   \n    case 8: \n        coeff=[8.86984423e+00 , 3.20018222e-01 , -2.89993804e-03] ; break; \n}\nflow.set('coeffs',coeff)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 2900,
        "wires": [
            [
                "fe83c44be59afebb"
            ]
        ]
    },
    {
        "id": "fe83c44be59afebb",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "coeffs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "89250fcec9768a36",
        "type": "inject",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 390,
        "y": 2900,
        "wires": [
            [
                "f86c280bf780380c"
            ]
        ]
    },
    {
        "id": "49f7a80d0b5f3db3",
        "type": "inject",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "200",
        "payloadType": "num",
        "x": 390,
        "y": 2960,
        "wires": [
            [
                "1e09ba3c5f021dd1"
            ]
        ]
    },
    {
        "id": "650686bb63814a15",
        "type": "function",
        "z": "1b31f175e8f2bfb7",
        "name": "Extract energy",
        "func": "\nvar en_cal=global.get('energy')+msg.payload[0]/4.18\nmsg.payload=Math.round(en_cal)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 2700,
        "wires": [
            [
                "398d8c1e197b3e9c",
                "3361724d269c95ad"
            ]
        ]
    },
    {
        "id": "24443646416fcb5b",
        "type": "function",
        "z": "1b31f175e8f2bfb7",
        "name": "Extract power",
        "func": "msg.payload=Math.round(msg.payload[2]);\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 2660,
        "wires": [
            [
                "69f8c708937acbc8",
                "7252db18c8ec0af4"
            ]
        ]
    },
    {
        "id": "108491c632ac8a1d",
        "type": "function",
        "z": "1b31f175e8f2bfb7",
        "name": "Extract speed",
        "func": "msg.payload=Math.round(msg.payload[1])\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 2740,
        "wires": [
            [
                "5e6bbe8e42f064f4",
                "bd271c130088aefe"
            ]
        ]
    },
    {
        "id": "c66fa3431d0cdbf6",
        "type": "comment",
        "z": "1b31f175e8f2bfb7",
        "name": "Block to extract power speed and energy at each new rotation",
        "info": "",
        "x": 560,
        "y": 2620,
        "wires": []
    },
    {
        "id": "0cb6429d3e9a89d3",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "energy",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "90b9f7dc1b32857f",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "ea7db201de53df91",
        "type": "switch",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "property": "compute_pow",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 2680,
        "wires": [
            [
                "951f6cf73c499ab1"
            ]
        ]
    },
    {
        "id": "9a441aef55024b5c",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a1225ab53c590332",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "15550784c6cf5d20",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "compute_pow",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "bd17ad14a01b2bad",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "compute_pow",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "485a7208dd4c657f",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time1",
                "pt": "flow",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "59fa16704d2b6663",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "energy",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "21ae2be9fb7270f6",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "ca716d66f0b472b9",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "8b63082f8995c946",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "f56fc175447ec6d3",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "compute_pow",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "398d8c1e197b3e9c",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "energy",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 2700,
        "wires": [
            []
        ]
    },
    {
        "id": "5e6bbe8e42f064f4",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speed",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1900,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "69f8c708937acbc8",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1900,
        "y": 2660,
        "wires": [
            []
        ]
    },
    {
        "id": "8992fa78dbc841d0",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "compute_pow",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "be2561342fa98486",
        "type": "switch",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "property": "turns",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 2680,
        "wires": [
            [
                "ea7db201de53df91",
                "f09e3523ed30f99b",
                "31e9f52407ddcfc5"
            ]
        ]
    },
    {
        "id": "1f8c1bbbf0c65fc0",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "turns",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "97a625944e895448",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "turns",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "f09e3523ed30f99b",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "turns",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "31e9f52407ddcfc5",
        "type": "debug",
        "z": "1b31f175e8f2bfb7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2800,
        "wires": []
    },
    {
        "id": "7252db18c8ec0af4",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Show Power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/power",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 2480,
        "wires": [
            [
                "42a2c5e4f26a5fdc"
            ]
        ]
    },
    {
        "id": "42a2c5e4f26a5fdc",
        "type": "mqtt out",
        "z": "1b31f175e8f2bfb7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "681dc25e6534cff6",
        "x": 2090,
        "y": 2480,
        "wires": []
    },
    {
        "id": "3361724d269c95ad",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Show Energy",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/energy",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 2540,
        "wires": [
            [
                "42a2c5e4f26a5fdc"
            ]
        ]
    },
    {
        "id": "bd271c130088aefe",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Show Speed",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/speed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 2600,
        "wires": [
            [
                "42a2c5e4f26a5fdc"
            ]
        ]
    },
    {
        "id": "d3cde4e8bc7878f9",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Stop bike 2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/bike/2/stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "98d3f84e423157d7",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Stop bike 2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/bike/2/stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1420,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "0b2251944a2d4aa7",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Start bike 2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/bike/2/start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 800,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "75e6c0d512140f11",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset Power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/power",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1560,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "3bdf92313ac42f6d",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset Energy",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/energy",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1600,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "b07711d543116dc1",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset Speed",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/speed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1640,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "4f7e53f4ed4bb1a5",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset Power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/power",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "b6fe2ad0405fef4f",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset Energy",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/energy",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 160,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "508815e579c49bf0",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Reset Speed",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/speed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "e4f459b887ac8e50",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Start firework",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/firework",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 2220,
        "wires": [
            [
                "252d787468234489"
            ]
        ]
    },
    {
        "id": "93a12bedba0f37d5",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Stop firework",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/firework",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1520,
        "wires": [
            [
                "264d8d59c65e843a"
            ]
        ]
    },
    {
        "id": "71dc21dd51b38a6c",
        "type": "change",
        "z": "1b31f175e8f2bfb7",
        "name": "Stop firework",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/top/firework",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 500,
        "wires": [
            [
                "df8a527c4243b8f9"
            ]
        ]
    },
    {
        "id": "ad4208024022ceec",
        "type": "ui-gauge",
        "z": "93b07b015d78d2f3",
        "name": "",
        "group": "cd297db1aa9255a7",
        "order": 3,
        "width": "6",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Niveau d'eau",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353"
            },
            {
                "from": "10",
                "color": "#ffc800"
            },
            {
                "from": "25",
                "color": "#00b3ff"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "32",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "726f099d43131b7e",
        "type": "function",
        "z": "93b07b015d78d2f3",
        "name": "Weight to %",
        "func": "const empty = 935000\nconst full = 3578000\nconst v = Number(msg.payload)\n\nvar res = Math.round((v - empty) * 100 / (full - empty))\nif (res > 100) res = 100\nif (res < 0)   res = 0\n\nmsg.payload = res\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "ad4208024022ceec"
            ]
        ]
    },
    {
        "id": "22e668871c4af726",
        "type": "mqtt in",
        "z": "93b07b015d78d2f3",
        "name": "",
        "topic": "heiafr/ms/water-level/value",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "681dc25e6534cff6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "726f099d43131b7e"
            ]
        ]
    },
    {
        "id": "ddbe55c932bed3f1",
        "type": "mqtt in",
        "z": "93b07b015d78d2f3",
        "name": "",
        "topic": "heiafr/ms/water-level/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "681dc25e6534cff6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "afc55c9049c3c6da"
            ]
        ]
    },
    {
        "id": "afc55c9049c3c6da",
        "type": "ui-text",
        "z": "93b07b015d78d2f3",
        "group": "cd297db1aa9255a7",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Etat de la balance",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "cc03134b74f3cccb",
        "type": "ui-gauge",
        "z": "93b07b015d78d2f3",
        "name": "Distance Velo 1",
        "group": "cd297db1aa9255a7",
        "order": 4,
        "width": "6",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Velo",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#007cb7"
            },
            {
                "from": "100",
                "color": "#007cb7"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "32",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "3024089e597cf6af",
        "type": "mqtt in",
        "z": "93b07b015d78d2f3",
        "name": "",
        "topic": "heiafr/ms/bike/1/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "681dc25e6534cff6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "83b92324c421a76c"
            ]
        ]
    },
    {
        "id": "83b92324c421a76c",
        "type": "ui-text",
        "z": "93b07b015d78d2f3",
        "group": "cd297db1aa9255a7",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Etat du vélo",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "3b75792c540c5ade",
        "type": "function",
        "z": "93b07b015d78d2f3",
        "name": "function 4",
        "func": "msg.payload = JSON.parse(msg.payload)[\"value\"]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "cc03134b74f3cccb"
            ]
        ]
    },
    {
        "id": "e85492afd3b4e89b",
        "type": "link in",
        "z": "93b07b015d78d2f3",
        "name": "Bike Distance",
        "links": [
            "70162b2e7468411f"
        ],
        "x": 255,
        "y": 180,
        "wires": [
            [
                "3b75792c540c5ade"
            ]
        ]
    },
    {
        "id": "fe38497f1cc14095",
        "type": "ui-gauge",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "group": "8042fa2145592bab",
        "order": 0,
        "width": "3",
        "height": "5",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Avancée",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "100",
                "color": "#5cd65c"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1240,
        "y": 160,
        "wires": []
    },
    {
        "id": "b97a99de0c90024c",
        "type": "link in",
        "z": "cc2e41e0eed1ac85",
        "name": "link in 1",
        "links": [
            "70162b2e7468411f"
        ],
        "x": 855,
        "y": 160,
        "wires": [
            [
                "1036dbdec08d61b5"
            ]
        ]
    },
    {
        "id": "1036dbdec08d61b5",
        "type": "function",
        "z": "cc2e41e0eed1ac85",
        "name": "function 2",
        "func": "msg.payload = JSON.parse(msg.payload)[\"value\"]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 160,
        "wires": [
            [
                "fe38497f1cc14095"
            ]
        ]
    },
    {
        "id": "018df52a6188bcdd",
        "type": "ui-gauge",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "group": "8042fa2145592bab",
        "order": 0,
        "width": 3,
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Energie",
        "units": "Cal",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#26a269"
            },
            {
                "from": "5000",
                "color": "#26a269"
            }
        ],
        "min": 0,
        "max": "5000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1240,
        "y": 280,
        "wires": []
    },
    {
        "id": "7c3f4fbe361df1d2",
        "type": "ui-gauge",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "group": "8042fa2145592bab",
        "order": 0,
        "width": 3,
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Puissance",
        "units": "W",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "300",
                "color": "#ffc800"
            },
            {
                "from": "700",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1250,
        "y": 240,
        "wires": []
    },
    {
        "id": "1a2e99f27d85deb5",
        "type": "ui-gauge",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "group": "8042fa2145592bab",
        "order": 0,
        "width": "3",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Vitesse",
        "units": "km/h",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "25",
                "color": "#ffc800"
            },
            {
                "from": "40",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "36be0a09cdf22ad8",
        "type": "inject",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 890,
        "y": 200,
        "wires": [
            [
                "477f33796579923d"
            ]
        ]
    },
    {
        "id": "a7f8013734f1647a",
        "type": "inject",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 890,
        "y": 240,
        "wires": [
            [
                "ab8ad046fa5bf475"
            ]
        ]
    },
    {
        "id": "254695f320c94ef4",
        "type": "inject",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 890,
        "y": 280,
        "wires": [
            [
                "72eef9085b30e10f"
            ]
        ]
    },
    {
        "id": "477f33796579923d",
        "type": "change",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "speed",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "1a2e99f27d85deb5"
            ]
        ]
    },
    {
        "id": "ab8ad046fa5bf475",
        "type": "change",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "power",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "7c3f4fbe361df1d2"
            ]
        ]
    },
    {
        "id": "72eef9085b30e10f",
        "type": "change",
        "z": "cc2e41e0eed1ac85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "energy",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 280,
        "wires": [
            [
                "018df52a6188bcdd"
            ]
        ]
    },
    {
        "id": "6743c234e1fdb89d",
        "type": "ui-button",
        "z": "fedabdae39268dc7",
        "group": "0ce34f26401423f7",
        "name": "",
        "label": "Eteindre les Raspberry Pi",
        "order": 1,
        "width": "6",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "3",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "26bc7840f1a81bc8",
                "c40756398ecbf586"
            ]
        ]
    },
    {
        "id": "a9bc1d7047bbdf17",
        "type": "ui-button",
        "z": "fedabdae39268dc7",
        "group": "0ce34f26401423f7",
        "name": "",
        "label": "Redémarrer les Raspberry Pi",
        "order": 2,
        "width": "6",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "3",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "324320e855a399b2",
                "40db41b2c9e3bc26"
            ]
        ]
    },
    {
        "id": "26bc7840f1a81bc8",
        "type": "change",
        "z": "fedabdae39268dc7",
        "name": "Shutdown top",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/rpi/top/shutter/shutdown",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "now",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "e617ae5a2e82e321"
            ]
        ]
    },
    {
        "id": "7ab83635cccaa63d",
        "type": "change",
        "z": "fedabdae39268dc7",
        "name": "Shutdown commander",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/rpi/cmd/shutter/shutdown",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "now",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "e617ae5a2e82e321"
            ]
        ]
    },
    {
        "id": "324320e855a399b2",
        "type": "change",
        "z": "fedabdae39268dc7",
        "name": "Reboot top",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/rpi/top/shutter/reboot",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "now",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 480,
        "wires": [
            [
                "e617ae5a2e82e321"
            ]
        ]
    },
    {
        "id": "9c912d0adc802a65",
        "type": "change",
        "z": "fedabdae39268dc7",
        "name": "Reboot commander",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heiafr/ms/rpi/cmd/shutter/reboot",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "now",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 540,
        "wires": [
            [
                "e617ae5a2e82e321"
            ]
        ]
    },
    {
        "id": "c40756398ecbf586",
        "type": "delay",
        "z": "fedabdae39268dc7",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "7ab83635cccaa63d"
            ]
        ]
    },
    {
        "id": "40db41b2c9e3bc26",
        "type": "delay",
        "z": "fedabdae39268dc7",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "9c912d0adc802a65"
            ]
        ]
    },
    {
        "id": "e617ae5a2e82e321",
        "type": "mqtt out",
        "z": "fedabdae39268dc7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "681dc25e6534cff6",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "2efa5baadf212993",
        "type": "ui-button",
        "z": "58d375fa1a53f3dd",
        "group": "c8e232a0ca6698b9",
        "name": "",
        "label": "Reset des pompes",
        "order": 7,
        "width": "6",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "9",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "e9bf53cf1075a04b"
            ]
        ]
    },
    {
        "id": "b2d58858c8b8cc1b",
        "type": "ui-button",
        "z": "58d375fa1a53f3dd",
        "group": "c8e232a0ca6698b9",
        "name": "",
        "label": "Nettoyage / Rincage",
        "order": 8,
        "width": "6",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "8",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "e9bf53cf1075a04b"
            ]
        ]
    },
    {
        "id": "e9bf53cf1075a04b",
        "type": "mqtt out",
        "z": "58d375fa1a53f3dd",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "681dc25e6534cff6",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "c9b4caeb7a495554",
        "type": "ui-button",
        "z": "58d375fa1a53f3dd",
        "group": "c8e232a0ca6698b9",
        "name": "",
        "label": "Sirop fraise",
        "order": 1,
        "width": "4",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "orange",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "e9bf53cf1075a04b"
            ]
        ]
    },
    {
        "id": "1c352e91771c0ee6",
        "type": "ui-button",
        "z": "58d375fa1a53f3dd",
        "group": "c8e232a0ca6698b9",
        "name": "",
        "label": "Sirop pêches",
        "order": 2,
        "width": "4",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "2",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "orange",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "e9bf53cf1075a04b"
            ]
        ]
    },
    {
        "id": "91ef683dec196a58",
        "type": "ui-button",
        "z": "58d375fa1a53f3dd",
        "group": "c8e232a0ca6698b9",
        "name": "",
        "label": "Sirop fruits de la passion",
        "order": 3,
        "width": "4",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "3",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "orange",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "e9bf53cf1075a04b"
            ]
        ]
    },
    {
        "id": "d220fbe0751257ad",
        "type": "delay",
        "z": "58d375fa1a53f3dd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "63896e809792de9a",
                "1c352e91771c0ee6"
            ]
        ]
    },
    {
        "id": "63896e809792de9a",
        "type": "delay",
        "z": "58d375fa1a53f3dd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "91ef683dec196a58"
            ]
        ]
    },
    {
        "id": "a7033d7f579cb641",
        "type": "ui-button",
        "z": "58d375fa1a53f3dd",
        "group": "c8e232a0ca6698b9",
        "name": "",
        "label": "3 sirops",
        "order": 4,
        "width": "12",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "3",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "blue",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "d220fbe0751257ad",
                "c9b4caeb7a495554"
            ]
        ]
    },
    {
        "id": "cf64c2ac43fbb434",
        "type": "ui-button",
        "z": "58d375fa1a53f3dd",
        "group": "c8e232a0ca6698b9",
        "name": "",
        "label": "3 sirops (en boucle)",
        "order": 5,
        "width": "12",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "blue",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "42107ba46a64c325"
            ]
        ]
    },
    {
        "id": "42107ba46a64c325",
        "type": "trigger",
        "z": "58d375fa1a53f3dd",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "a7033d7f579cb641"
            ]
        ]
    },
    {
        "id": "a8cb7245018a9320",
        "type": "ui-button",
        "z": "58d375fa1a53f3dd",
        "group": "c8e232a0ca6698b9",
        "name": "",
        "label": "3 sirops STOP",
        "order": 6,
        "width": "12",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "0",
        "payloadType": "str",
        "topic": "heiafr/ms/controller/button",
        "topicType": "str",
        "buttonColor": "red",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "42107ba46a64c325"
            ]
        ]
    },
    {
        "id": "8704babc913d72ac",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "5870d068b3b3fbc8",
        "group": "740e7599ee150aad",
        "name": "Update Firmware",
        "label": "Mise à jour du firmware",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"url\":\"https://gitlab.forge.hefr.ch/machine-a-sirops/water-scale/-/releases/permalink/latest/downloads/build/water-level-sensor.bin\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "8a12cea1166683f2"
            ]
        ]
    },
    {
        "id": "b24824c4b4741da8",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "5870d068b3b3fbc8",
        "name": "Info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.111/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "24f2dc14ba30fd09"
            ]
        ]
    },
    {
        "id": "ff89957815c16e58",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "5870d068b3b3fbc8",
        "group": "740e7599ee150aad",
        "name": "Info",
        "label": "Info",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "b24824c4b4741da8"
            ]
        ]
    },
    {
        "id": "24f2dc14ba30fd09",
        "type": "ui-text",
        "z": "e46298c3f3407f28",
        "g": "5870d068b3b3fbc8",
        "group": "740e7599ee150aad",
        "order": 5,
        "width": "12",
        "height": "3",
        "name": "output",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "stdout",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "5a07aebe1f1450f3",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "5870d068b3b3fbc8",
        "group": "740e7599ee150aad",
        "name": "Clear",
        "label": "Clear",
        "order": 4,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "24f2dc14ba30fd09"
            ]
        ]
    },
    {
        "id": "f0938b12cec79fa1",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "5870d068b3b3fbc8",
        "name": "Reset",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.111/reset",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 200,
        "wires": [
            [
                "24f2dc14ba30fd09"
            ]
        ]
    },
    {
        "id": "6f463dd271e2cf8d",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "5870d068b3b3fbc8",
        "group": "740e7599ee150aad",
        "name": "Reset",
        "label": "Reset",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "f0938b12cec79fa1"
            ]
        ]
    },
    {
        "id": "8a12cea1166683f2",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "5870d068b3b3fbc8",
        "name": "Firmare update",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.111/firmware-upgrade",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "24f2dc14ba30fd09"
            ]
        ]
    },
    {
        "id": "982fa4fcd2b64ef4",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "75cd4b84d3a4cbeb",
        "group": "639072400a26d618",
        "name": "Update Firmware",
        "label": "Mise à jour du firmware",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"url\":\"https://gitlab.forge.hefr.ch/machine-a-sirops/speedometer/-/releases/permalink/latest/downloads/build/speedometer.bin\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "b9ce68ebdd3143d4"
            ]
        ]
    },
    {
        "id": "075d977633731fdd",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "75cd4b84d3a4cbeb",
        "name": "Info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.214/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 400,
        "wires": [
            [
                "98ef3335e518655e"
            ]
        ]
    },
    {
        "id": "9452d793e01f04f7",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "75cd4b84d3a4cbeb",
        "group": "639072400a26d618",
        "name": "Info",
        "label": "Info",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "075d977633731fdd"
            ]
        ]
    },
    {
        "id": "98ef3335e518655e",
        "type": "ui-text",
        "z": "e46298c3f3407f28",
        "g": "75cd4b84d3a4cbeb",
        "group": "639072400a26d618",
        "order": 5,
        "width": "12",
        "height": "3",
        "name": "output",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "stdout",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "77858965987bc67f",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "75cd4b84d3a4cbeb",
        "group": "639072400a26d618",
        "name": "Clear",
        "label": "Clear",
        "order": 4,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "98ef3335e518655e"
            ]
        ]
    },
    {
        "id": "ee351746341cf8f1",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "75cd4b84d3a4cbeb",
        "name": "Reset",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.214/reset",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "98ef3335e518655e"
            ]
        ]
    },
    {
        "id": "cb3fe40f4416ac69",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "75cd4b84d3a4cbeb",
        "group": "639072400a26d618",
        "name": "Reset",
        "label": "Reset",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "ee351746341cf8f1"
            ]
        ]
    },
    {
        "id": "b9ce68ebdd3143d4",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "75cd4b84d3a4cbeb",
        "name": "Firmare update",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.214/firmware-upgrade",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 480,
        "wires": [
            [
                "98ef3335e518655e"
            ]
        ]
    },
    {
        "id": "9325f4b71271bc7e",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "704b9f4aabfab6a5",
        "group": "869143ee49ab3915",
        "name": "Update Firmware",
        "label": "Mise à jour du firmware",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"url\":\"https://gitlab.forge.hefr.ch/machine-a-sirops/speedometer/-/releases/permalink/latest/downloads/build/speedometer.bin\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "52e5a736bc257fb5"
            ]
        ]
    },
    {
        "id": "d54d38e54482e819",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "704b9f4aabfab6a5",
        "name": "Info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.216/info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 640,
        "wires": [
            [
                "0daa64f04b2aad4d"
            ]
        ]
    },
    {
        "id": "abc9827b297bbd5e",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "704b9f4aabfab6a5",
        "group": "869143ee49ab3915",
        "name": "Info",
        "label": "Info",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "d54d38e54482e819"
            ]
        ]
    },
    {
        "id": "0daa64f04b2aad4d",
        "type": "ui-text",
        "z": "e46298c3f3407f28",
        "g": "704b9f4aabfab6a5",
        "group": "869143ee49ab3915",
        "order": 5,
        "width": "12",
        "height": "3",
        "name": "output",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "stdout",
        "x": 710,
        "y": 760,
        "wires": []
    },
    {
        "id": "846a3a6bec36d004",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "704b9f4aabfab6a5",
        "group": "869143ee49ab3915",
        "name": "Clear",
        "label": "Clear",
        "order": 4,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "0daa64f04b2aad4d"
            ]
        ]
    },
    {
        "id": "46cce37d3d74ba6c",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "704b9f4aabfab6a5",
        "name": "Reset",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.216/reset",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 680,
        "wires": [
            [
                "0daa64f04b2aad4d"
            ]
        ]
    },
    {
        "id": "ec2568664d138cfc",
        "type": "ui-button",
        "z": "e46298c3f3407f28",
        "g": "704b9f4aabfab6a5",
        "group": "869143ee49ab3915",
        "name": "Reset",
        "label": "Reset",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "46cce37d3d74ba6c"
            ]
        ]
    },
    {
        "id": "52e5a736bc257fb5",
        "type": "http request",
        "z": "e46298c3f3407f28",
        "g": "704b9f4aabfab6a5",
        "name": "Firmare update",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.216/firmware-upgrade",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 720,
        "wires": [
            [
                "0daa64f04b2aad4d"
            ]
        ]
    },
    {
        "id": "92729288d1867e6b",
        "type": "ui-slider",
        "z": "1f44ba1f0284b69d",
        "group": "be3001cd3246764c",
        "name": "",
        "label": "Bike Simulation (# rotations)",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "200",
        "step": "1",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 400,
        "y": 340,
        "wires": [
            [
                "26a16cf901856ac1"
            ]
        ]
    },
    {
        "id": "26a16cf901856ac1",
        "type": "mqtt out",
        "z": "1f44ba1f0284b69d",
        "name": "",
        "topic": "heiafr/ms/bike/0/rotations",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "681dc25e6534cff6",
        "x": 790,
        "y": 340,
        "wires": []
    }
]